<h1>ログイン</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

<p>
	<%= f.label :email %><br>
	<%= f.text_field :email %><br>
	<%= f.label :password %><br>
	<%= f.text_field :password %><br>

</p>

<p>
	<%= f.submit %>
</p>

<% end %>